@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

#background-2{
  background-image: url(../components/house4.jpg);
  background-position: center;
  background-size: cover;
  height: 1000px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search{
  text-align: center;
}
.searchbar {
  padding: 10px;
  width: 250px;
  margin-top:40px;
  text-align: center;
  margin-bottom: 20px;
  border: solid #c8ccd0 1px;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s, width 500ms ease;
}

.searchbar:focus {
  outline: none;
  border-color: #09ee09;
  box-shadow: 0 0 10px #09ee09;
  width: 280px;
}

.searchbar:hover {
  border-color: #09ee09;
  box-shadow: 0 0 10px #09ee09;
  width: 280px;
}

.search_button {
  height: 38px;
  margin-left: -4px;
  width: 70px;
  border: solid #c8ccd0 1px;
  border-radius: 0px 5px 5px 0px;
  border-left: 0;
  transition: 400ms ease-out;
}

.search_button:hover {
  background-color: hsl(0, 0%, 85%);
}
#tablesection{
  min-height: 500px;
  
}
.tableContent{
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.9em;
      min-width: 400px;
      left: 200px;

}

.tableContent tr{
  background-color: #009879;
  color: white;
  font-weight: bold;  
}

.tableContent th,.tableContent td{
      padding: 12px 15px;
}

.tableContent tbody tr{
  border-bottom: 1px solid #dddddd;
}

.tableContent tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
  color:black
}

.tableContent tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}



#find{
  background-color: #79f1e1;
    border-radius: 12px;
    border: 2px solid #95d8ee;
    padding: 14px 110px;
    outline: none;
    color: rgb(34, 32, 32);
    cursor: pointer;
    transition: 0,25px;
  
   
}

