.App{
  width:100%;
  height:100%;
  background-color: #eaeaf1;
  
}

.account{
  height:50px;
  background-color: #1a1a2e;
  color: rgb(241, 236, 236);
}
.accountAddress{
  
  text-align-last:right;
  margin-right: 20px;

}
.accountAddressValue{
  text-align-last:right;
  margin-right: 20px;

}



 
.leftAlign{
  float:left;
  height: 12vh;
  width: 46%;
 
   
}
.logo {
  height: 100%;
  width:100%;
  border-radius: 55%;
 
}

.centreAlign{

  width:8%;
  float: left;
  height: 12vh;
 
}

.rightAlign{
  float:right;  
  height: 12vh;
  width: 46%;
}

.leftlinks 
{
	background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #00a84f;
	display: inline-block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 60px;
	letter-spacing: 1px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
	padding: 4px;
  position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 150px;
	z-index: 2;
}

.leftlinks:hover {
	color: #fff;
}

.leftlinks span {
	align-items: center;
	background: #1a1a2e;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
  width: 100%;
  float:left;
  font-size:14px;
  color: #fff;
  
  

  

  

}

.leftlinks:hover span {
  background: transparent;
  cursor: pointer;
}
  




.rightlinks .badge{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 10px;
  color: white;
  width:10px;
  height:10px;
  background-color: red;

}
.rightlinks 
{
	background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #00a84f;
	display: inline-block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 60px;
	letter-spacing: 1px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
	padding: 4px;
  position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 150px;
  z-index: 2;
  float: right;
  
}

.rightlinks:hover {
  color: #fff;
 
}

.rightlinks span {
	align-items: center;
	background: #1a1a2e;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
  width: 100%;
  float:right;
  font-size:14px;
  color: #fff;
}

.rightlinks:hover span {
  background: transparent;
  cursor: pointer;
  
    
  
}
.rightlinks:hover .badge {
  background-color: red;
  
    
  
}







.header {
  background-color: #1a1a2e;
  height: 17vh;
  color: rgb(241, 236, 236);
}

.App-link {
  color:blue;
}

a:link{
  color:white
}
a:visited{
  color:white
}
a:hover{
  color:white
}
a:active{
  color:white
}


@media only screen and (max-width: 900px) {
  
 .header{
  height: 38vh;
 }
 .leftlinks{
  font-size:10px;
 }
 .rightlinks{
  font-size:10px;
 }

}


.footer{
background-color:#1a1a2e ;
color:white;
height: 150px;
}
.aboutUs{
  float:right;
  margin-right: 10%;
  margin-top: 1%;
}
.legal{
  float:right;
  margin-right: 10%;
  margin-top: 1%;
}
.followus{
  float:right;
  margin-right: 10%;
  margin-top: 1%;
}
.footerintro{
  float:left;
  margin-left: 10%;
  margin-top: 2%;
  text-align:center;
}